# Connect to Supabase via connection pooling
DATABASE_URL=
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_KEY=

# Direct connection to the database. Used for migrations
DIRECT_URL=

JWT_SECRET=
JWT_EXPIRATION=
JWT_REFRESH_EXPIRATION=
FRONTEND_URL=
